@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body, html {
    background-color: #F3F5FC;
    display: grid;
}

/* Main en dos div, programa y resultado */
main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}

main.nowrap {
    flex-wrap: nowrap;
}

/* Programa */
/* Programa en tres div logo, area texto condiciones y botones*/
#programa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 19;
}

#logo {
    margin-top: 3.9%;
    margin-left: 5.8%;
}

.logo{
    height: 70px;
    width: 80px;
}

.area-texto {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

#texto-entrada {
    border: none;
    background-color: transparent;
    font-size: 32px;
    color: #0A3871;
    font-family: 'Inter', sans-serif;
}

#texto-entrada::placeholder {
    color: #0A3871;
    opacity: 70%;
}

.condiciones {
    margin: auto;
    font-family: 'Inter', sans-serif;
    justify-content: baseline;
    color: #0A3871;
}

/* Botones tiene flex y boton */
#botones-programa {
    display: flex;
    justify-content: center;
}

.boton {
    background-color: #D8DFE8;
    padding: 15px 40px;
    margin: 20px;
    border-radius: 14px;
    border-color: #0A3871;
    border-width: 2px;
    font-size: 16px;
    color: #0A3871;
    max-width: 200px;
    font-family: 'Inter', sans-serif;
}

.boton:hover {
    background-color: #0A3871;
    color: white;
}

.boton:active {
    background-color: #0A3871;
    opacity: 80%;
}


/* Resultado */
/* Tiene dos div, text-resultado y prueba */
#resultado {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 350px;
    padding: 5px;
    border-radius: 20px;
    flex-grow: 1;
    margin-top: 2.9%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2.9%;
}

#ninguno {
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #343A40;
}

#ninguno-texto {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #495057;
}

#buscador {
    max-width: 300px;
}

#text-resultado {
    margin-top: 13.9%;
    margin: auto;
}

#area-resultado {
    border: none;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.transparente {
    display: none;
    height: 100%;
}

#botones-resultado {
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    background-color: #ffffff;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    font-size: x-large;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

.redes {
    width: 25px;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
#figura {
    width: 300px;
    height: 300px;
}